<section class="mytabs">
    <div>
         <ul class="nav nav-tabs" role="tablist">
                
             <li class="nav-item" id="kraTypeLink" *ngFor="let nav of addressSteps" (click)="stepMove(nav.step)" >
                <a class="nav-link " [ngClass]="{'active': step === nav.step}" data-toggle="tab" >{{nav.title}}</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="row tab-content ">
            
            
            <div *ngIf="step === 1">
                <app-k-r-a></app-k-r-a>
            </div>
            <div *ngIf="step === 2">
                <app-digi-locker></app-digi-locker>
            </div>

            <div *ngIf="step === 3">
                <app-mannual-entry></app-mannual-entry>
            </div>



            <div id="menu2" class="container tab-pane fade">
                <br>
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
    </div>


   




</section>
