<section>
    <form [formGroup]="form">
        <div class="box kyc-div mt-3 exchange-details">
            <div class="" id="ExchangeSegmentData">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="AccountType" class="panel-collapse" style="width: 100%">
                                    <div class="panel-body ekyc_pbodybg">
                                        <div class="row">

                                            <div class="col-lg-3">

                                                <label class="pd">
                                                    Select Your Account Type:
                                                </label>
                                            </div>

                                            <div class="col-lg-3 text-start text-sm-right radio">

                                                <label class="radio-inline mR10">
                                                    <input type="radio" name="AccountType" id="NsdlCheck"
                                                        checked="checked" value="NSDL" class="radTop" />
                                                    <span class="b">NSDL</span>
                                                </label>


                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row ">
                    <div class="col-sm-12">
                        <p class="mb-0">Buy and sell shares, mutual funds, and derivatives on NSE, BSE,MSEI and MCX.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="exchangeBox">
                            <div class="col-lg-12">

                                <div class="row ecxBlock">
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecheck" value="nsecash" id="nsecash"
                                            type="checkbox" disabled="disabled" checked="checked" />
                                        <label class="col-form-label" for="nsecash">Equity</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecheck " value="nsedebt" id="nsedebt"
                                            type="checkbox" disabled="disabled" checked="checked" />
                                        <label class="col-form-label" for="nsedebt">Debt</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecheck" id="nsemf" value="nsemf"
                                            disabled="disabled" checked="checked" type="checkbox" />
                                        <label class="col-form-label" for="nsemf">MF</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecheck " id="mseislb1" value="nseslb"
                                            disabled="disabled" checked="checked" type="checkbox" />
                                        <label class="col-form-label" for="nseslb">SLBM</label>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecheck" id="MTF" value="MTF"
                                            type="checkbox" />
                                        <label class="col-form-label" for="MTF">MTF</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecheck mycheck" id="nsefando"
                                            value="nsefando" type="checkbox" (change)="changeValue($event)" />
                                        <label class="col-form-label" for="nsefando">F & O</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecurrency mycheck nsecheck"
                                            id="nsecurrency" value="nsecurrency" type="checkbox"
                                            (change)="changeValue($event)" />
                                        <label class="col-form-label" for="nsecurrency">Currency</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="nsecheck  mycheck commoditychk"
                                            id="nsecommodity" value="nsecommodity" type="checkbox"
                                            (change)="changeValue($event)" />
                                        <input name="segementcheck" class="mcxcheck mycheck commoditychk"
                                            id="MCXcommodity" value="mcxcommodity" type="checkbox"
                                            style="display:none" />
                                        <label class="col-form-label" for="nsecommodity"> Commodity</label>
                                    </div>



                                </div>
                                <div class="row ecxBlock" style="display:none">
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecheck" value="bsecash" id="bsecash"
                                            type="checkbox" disabled="disabled" checked="checked" />
                                        <label class="col-form-label" for="bsecash">Equity</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecheck " value="bsedebt" id="bsedebt"
                                            type="checkbox" disabled="disabled" checked="checked" />
                                        <label class="col-form-label" for="bsedebt">Debt</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecheck" id="bsemf" value="bsemf"
                                            disabled="disabled" checked="checked" type="checkbox" />
                                        <label class="col-form-label" for="bsemf">MF</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecheck " id="bseislb1" value="bseslb"
                                            disabled="disabled" checked="checked" type="checkbox" />
                                        <label class="col-form-label" for="bseslb">SLBM</label>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecheck" id="bseMTF" value="MTF"
                                            type="checkbox" />
                                        <label class="col-form-label" for="MTF">MTF</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecheck mycheck" id="bsefando"
                                            value="bsefando" type="checkbox" />
                                        <label class="col-form-label" for="bsefando">F & O</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecurrency mycheck bsecheck"
                                            id="bsecurrency" value="bsecurrency" type="checkbox" />
                                        <label class="col-form-label" for="bsecurrency">Currency</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input name="segementcheck" class="bsecheck mycheck commoditychk"
                                            id="bsecommodity" value="bsecommodity" type="checkbox" />
                                        <label class="col-form-label" for="bsecommodity"> Commodity</label>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="display:none">
                        <div class="form-check form-check-inline">
                            <input name="AllSegments" class="mycheck" id="AllSegments" value="AllSegments"
                                type="checkbox" disabled="disabled" checked="checked" />
                            <label class="col-form-label" for="AllSegments">&nbsp;All Segment</label>
                        </div>
                    </div>


                </div>





                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3 mt-3">
                    <div id="DpSchemeSelection" style="width: 100%">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="pd">
                                    Select Demat Scheme:
                                </label>
                                <select class="form-control m-0 w-auto" formControlName="dpscheme"
                                    [ngClass]="{ 'is-invalid': submitted && f['dpscheme'].errors }">
                                    <option value="">Select Demat Scheme</option>
                                    <option value="Lifetime">Lifetime- 2000 + 18% GST</option>
                                    <option value="5Years">5 Years – 999 + 18% GST </option>
                                    <option value="Annual">Annual- 400 + 18% GST&nbsp &nbsp </option>
                                </select>
                            </div>


                        </div>

                    </div>
                </div>




                <div class="table-responsive" id="BorkerageData" style="display: none">

                    <table cellspacing="0" cellpadding="5" class="table table-bordered">

                        <tr>
                            <td colspan="5" align="center"
                                style="background-color: #017DAF; color: #fff; font-size: 20px;"><strong>Tariff details
                                    for Trading & Demat</strong></td>
                        </tr>
                        <tr style="background-color: #e1e8ed">
                            <td><strong>Segment/ Exchange</strong></td>
                            <td><strong>Trading Brokerage % </strong></td>
                            <td><strong>Delivery Brokerage %</strong></td>
                            <td><strong>Minimum brokerage in paisa</strong></td>
                            <td><strong>Option Brokerage in Rs.</strong></td>
                        </tr>
                        <tr>
                            <td>CM Segment</td>
                            <td align="right">0.01</td>
                            <td align="right">0.1</td>
                            <td align="right">0.01</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>F&amp;O Segment</td>
                            <td align="right">0.01</td>
                            <td align="right">0.1</td>
                            <td align="right">0.01</td>
                            <td align="right">50</td>
                        </tr>

                        <tr style="background-color: #e1e8ed">
                            <td><strong>Segment/ Exchange</strong></td>
                            <td><strong>Trading Brokerage % </strong></td>
                            <td><strong>Delivery Brokerage %</strong></td>
                            <td><strong>Minimum brokerage in paisa</strong></td>
                            <td><strong>Option Brokerage in Rs.</strong></td>
                        </tr>
                        <tr>
                            <td>CM Segment</td>
                            <td align="right">0.05</td>
                            <td align="right">0.5</td>
                            <td align="right">0.05</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>F&amp;O Segment</td>
                            <td align="right">0.05</td>
                            <td align="right">0.5</td>
                            <td align="right">0.05</td>
                            <td align="right">50</td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td align="right">0.05</td>
                            <td>&nbsp;</td>
                            <td align="right">0.05</td>
                            <td align="right">30</td>
                        </tr>
                        <tr>
                            <td>MCX &amp; NCDEX</td>
                            <td align="right">0.05</td>
                            <td align="right">0.5</td>
                            <td align="right">0.05</td>
                            <td align="right">100</td>
                        </tr>
                    </table>
                </div>





                <div class="gbDiv">
                    <div class="row">
                        <table class="table table-bordered table-condensed table-striped tdnowrap"
                            style="margin-left: 16px">
                            <thead>
                                <tr>

                                    <th style="text-align: center;">Equity Delivery</th>
                                    <th style="text-align: center;">Equity Intraday </th>
                                    <th style="text-align: center;">Derivatives</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;">
                                    <td>0.30%</td>
                                    <td>0.03%</td>
                                    <td>0.03%</td>

                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>




            <div class="row" id="DPschemIdDiv" style="display: none;">

                <div class="col-md-3">
                    <label>
                        <b>Select Brokerage scheme:</b>
                    </label>
                </div>
                <div class="col-md-3">
                    <select id="DPschemId" name="DPschemId">
                    </select>
                </div>
            </div>

            <div id="advisorydataDivone" class="table-responsive mT10 d-none"></div>
            <div id="advisorydataDivTwo" class="table-responsive mT10"></div>


            <div class="row m-0" id="Bankstatementsdiv">
                <div class="col-sm-12 text-center" id="clientcategorizeationdiv" style="margin-bottom: 15px">
                    <p>
                        Customer classification option :
                        <label class="checkbox-inline">
                            <input type="radio" name="clientcategorizeationtype" id="otherstextid" value="others"
                                checked="" />
                            Others
                        </label>

                        <label class="checkbox-inline">
                            <input type="radio" name="clientcategorizeationtype" id="farmertextid" value="farmer" />
                            Farmer</label>
                    </p>

                </div>

                <div id="Bankstatement" *ngIf="financialProof">
                    <div class="col-sm-12" style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #324881">

                        <div class="row m-0">
                            <div class="col-md-4">
                                <label class="pd">Financial proof - 1</label>
                                <select id="FinancialProof1Text" name="FinancialProof1Text" class="finProofs"
                                    (change)="selectValuee($event)">
                                    <option value="">Select Financial proof - 1</option>
                                    <option value="Bank statement" data-tip="Last six month bank statement">Bank
                                        statement</option>
                                    <option value="ITR" data-tip="Copy of annual accounts">ITR copy</option>
                                    <option value="Salary slip"
                                        data-tip="Latest three month salary slip or last year Form 16">Salary slip
                                    </option>
                                    <option value="Copy of networth certificate"
                                        data-tip="As on date or latest financial year">Copy of networth certificate
                                    </option>
                                    <option value="Holding statement"
                                        data-tip="Latest DP holding statement with more than 50K stock value">Holding
                                        statement</option>
                                </select>



                            </div>
                            <div class="col-sm-4 md-form" id="Bankstatement1Div" *ngIf="uploadfile">

                                <p>Select a file to upload</p>
                                <div class="file-field">
                                    <div class="">

                                        <input type="file" name="Bankstatement1" id="Bankstatement1" />
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" id="bankstatementtextfile1"
                                            name="bankstatementtextfile1"
                                            style="border: none; padding-top: 10px; padding-left: 13px; width: 100%;"
                                            type="button" value="Upload" placeholder="Upload your file" />
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                                <p style="font-size: 14px; padding: 3px;">
                                    Note: Allowed document types are JPG, JPEG and PDF. File must be less than 3 MB in
                                    size
                                </p>
                            </div>

                            <div id="Bankstatement1SuucessMsg"
                                class="col-sm-4 alert alert-success fade in alert-dismissible show"
                                style="display: none; margin-top: 27px;">File has been uploaded successfully</div>
                            <div class="col-md-5" style="margin-top: 38px;">

                                <a href="" class="btn btn-sm btn-danger" style="display: none" id="Bankstatement1img"
                                    target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download uploaded
                                    financial proof - 1</a>
                                <a href="#" class="btn btn-sm btn-danger" style="display: none"
                                    id="Bankstatement1imgReupload">X</a>
                            </div>




                            <div class="">
                                <div id="hidnBankstatement1" style="display: none"></div>
                            </div>


                            <div class="col-lg-12">

                                <div class="alert alert-info fade in alert-dismissible show text-center mt-3"
                                    id="Bankstatement1Tip" style="display: none;"></div>
                            </div>

                            <div class="col-lg-12 text-right">

                                <a  class="btn btn-sm btn-info" (click)="addSkills()"><i
                                        class="fa fa-plus-circle" aria-hidden="true"></i>Add additional proofs</a>
                                       

                            </div>
                       

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 additonalProof"
                    style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #324881">
                    <div formArrayName="skills">
                        <div *ngFor="let skill of skills.controls; let i=index">
                            <div [formGroupName]="i">
                                <div class="row m-0">
                                    <div class="col-md-4">
            
                                        <label class="pd">Financial proof - {{i+2}}</label>
                                        <select id="FinancialProof2Text" name="FinancialProof2Text" class="finProofs" formControlName="skill">
                                            <option value="">Select Financial proof - 2</option>
                                            <option value="Bank statement" data-tip="Last six month bank statement">Bank
                                                statement</option>
                                            <option value="ITR" data-tip="Copy of annual accounts">ITR copy</option>
                                            <option value="Salary slip"
                                                data-tip="Latest three month salary slip or last year Form 16">Salary
                                                slip</option>
                                            <option value="Copy of networth certificate"
                                                data-tip="As on date or latest financial year">Copy of networth
                                                certificate</option>
                                            <option value="Holding statement"
                                                data-tip="Latest DP holding statement with more than 50K stock value">
                                                Holding statement</option>
                                        </select>
            
            
                                    </div>
                                    <div class="col-sm-4 md-form" id="Bankstatement2Div" *ngIf="financialProof2">
            
                                        <p>Select a file to upload</p>
                                        <div class="file-field">
                                            <div class="">
            
                                                <input type="file" name="Bankstatement2" id="Bankstatement2" />
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" id="bankstatementtextfile2"
                                                    name="bankstatementtextfile2"
                                                    style="border: none; padding-top: 10px; padding-left: 13px; width: 100%;"
                                                    type="button" value="Upload" placeholder="Upload your file" />
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                        <p style="font-size: 14px; padding: 3px;">
                                            Note: Allowed document types are JPG, JPEG and PDF. File must be less than 3 MB in size
            
                                        </p>
                                    </div>
                                    <div id="Bankstatement2SuucessMsg"
                                        class="col-sm-4 alert alert-success fade in alert-dismissible show"
                                        style="display: none; margin-top: 27px;">File has been uploaded successfully</div>
            
                                    <div class="col-md-5" style="margin-top: 38px;">
                                        <a href="" class="btn btn-sm btn-danger" style="display: none" id="Bankstatement2img"
                                            target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download uploaded
                                            financial proof - 2</a>
                                        <a href="#" class="btn btn-sm btn-danger" style="display: none"
                                            id="Bankstatement2imgReupload">X</a>
                                    </div>
            
            
                                    <div>
                                        <div id="hidnBankstatement2" style="display: none"></div>
                                    </div>
            
                                    <div class="col-lg-12">
            
                                        <div class="alert alert-info fade in alert-dismissible show text-center mt-3"
                                            id="Bankstatement2Tip" style="display: none;"></div>
                                    </div>
            
                                </div>

                            </div>
                        </div>
                    </div>

                   
                    
                </div>
                <div class="col-sm-12 additonalProof"
                    style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #324881; display: none;">
                    <div class="row m-0">
                        <div class="col-md-3">
                            <label class="pd">Financial proof - 3</label>
                            <select id="FinancialProof3Text" name="FinancialProof3Text" class="finProofs">
                                <option value="">Select Financial proof - 3</option>
                                <option value="Bank statement" data-tip="Last six month bank statement">Bank statement
                                </option>
                                <option value="ITR" data-tip="Copy of annual accounts">ITR copy</option>
                                <option value="Salary slip"
                                    data-tip="Latest three month salary slip or last year Form 16">Salary slip</option>
                                <option value="Copy of networth certificate"
                                    data-tip="As on date or latest financial year">Copy of networth certificate</option>
                                <option value="Holding statement"
                                    data-tip="Latest DP holding statement with more than 50K stock value">Holding
                                    statement</option>
                            </select>

                        </div>
                        <div class="col-sm-4 md-form" id="Bankstatement3Div">

                            <p>Select a file to upload</p>
                            <div class="file-field">
                                <div class="">

                                    <input type="file" name="Bankstatement3" id="Bankstatement3" />
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" id="bankstatementtextfile3"
                                        name="bankstatementtextfile3"
                                        style="border: none; padding-top: 10px; padding-left: 13px; width: 100%"
                                        type="button" value="Upload" placeholder="Upload your file" />
                                </div>
                            </div>
                            <div style="clear: both"></div>
                            <p style="font-size: 14px; padding: 3px;">
                                Note: Allowed document types are JPG, JPEG and PDF. File must be less than 3 MB in size
                            </p>
                        </div>
                        <div id="Bankstatement3SuucessMsg"
                            class="col-sm-4 alert alert-success fade in alert-dismissible show"
                            style="display: none; margin-top: 27px;">File has been uploaded successfully</div>
                        <div class="col-md-5" style="margin-top: 38px;">
                            <a href="" class="btn btn-sm btn-danger" style="display: none" id="Bankstatement3img"
                                target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download uploaded
                                financial proof - 3</a>
                            <a href="#" class="btn btn-sm btn-danger" style="display: none"
                                id="Bankstatement3imgReupload">X</a>
                        </div>



                        <div>
                            <div id="hidnBankstatement3" style="display: none"></div>
                        </div>

                        <div class="col-lg-12">

                            <div class="alert alert-info fade in alert-dismissible show text-center mt-3"
                                id="Bankstatement3Tip" style="display: none;"></div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-12 additonalProof"
                    style="margin-top: 10px; padding-top: 10px; border-top: 1px solid #324881; display: none;">
                    <div class="row m-0">
                        <div class="col-md-3">
                            <label class="pd">Financial proof - 4</label>
                            <select id="FinancialProof4Text" name="FinancialProof4Text" class="finProofs">
                                <option value="">Select Financial proof - 4</option>
                                <option value="Bank statement" data-tip="Last six month bank statement">Bank statement
                                </option>
                                <option value="ITR" data-tip="Copy of annual accounts">ITR copy</option>
                                <option value="Salary slip"
                                    data-tip="Latest three month salary slip or last year Form 16">Salary slip</option>
                                <option value="Copy of networth certificate"
                                    data-tip="As on date or latest financial year">Copy of networth certificate</option>
                                <option value="Holding statement"
                                    data-tip="Latest DP holding statement with more than 50K stock value">Holding
                                    statement</option>
                            </select>

                        </div>
                        <div class="col-sm-4 md-form" id="Bankstatement4Div">

                            <p>Select a file to upload</p>
                            <div class="file-field">
                                <div class="">

                                    <input type="file" name="Bankstatement4" id="Bankstatement4" />
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" id="bankstatementtextfile4"
                                        name="bankstatementtextfile4"
                                        style="border: none; padding-top: 10px; padding-left: 13px; width: 100%"
                                        type="button" value="Upload" placeholder="Upload your file" />
                                </div>
                            </div>
                            <div style="clear: both"></div>
                            <p style="font-size: 14px; padding: 3px;">
                                Note: Allowed document types are JPG, JPEG and PDF. File must be less than 3 MB in size
                            </p>
                        </div>
                        <div id="Bankstatement4SuucessMsg"
                            class="col-sm-4 alert alert-success fade in alert-dismissible show"
                            style="display: none; margin-top: 27px;">File has been uploaded successfully</div>

                        <div class="col-md-5" style="margin-top: 38px;">
                            <a href="" class="btn btn-sm btn-danger" style="display: none" id="Bankstatement4img"
                                target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download uploaded
                                financial proof - 4</a>
                            <a href="#" class="btn btn-sm btn-danger" style="display: none"
                                id="Bankstatement4imgReupload">X</a>
                        </div>


                        <div>
                            <div id="hidnBankstatement4" style="display: none"></div>
                        </div>


                        <div class="col-lg-12">

                            <div class="alert alert-info fade in alert-dismissible show text-center mt-3"
                                id="Bankstatement4Tip" style="display: none;"></div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="BranchCodeDiv" style="display: none">
                <div class="gbTitle">
                    <h2 class="heading">Select the branch you want to be serviced by </h2>
                </div>
                <div class="gbDiv">
                    <div class="row" style="padding: 10px; margin-left:0px">
                        <div class="form-inline mT20" id="branchAllocateDiv">
                            <label>Branch Allocation:</label>


                            <div class="col-xs-8">
                                <select class="form-control" id="BranchAllocateSel"
                                    style="height: 40px !important; margin-left: 10px">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="col-xs-4 " style="display: none">
                                <input type="button" id="BrchAllocateBtn" value="Save" class="btn btn btn-success hide"
                                    style="background-color: #22366b; border-color: #22366b; border-radius: 20px; padding: 6px 20px; margin-left: 10px" />


                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row m-0" id="POAQ" style="display: none;">

                <div class="col-md-12">
                    <h2
                        style="padding: 0px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 15px; border-top: 1px solid #c5c5c5; padding-top: 10px; color: #0976bd;">
                        Do you want upload Power of attorney ?</h2>
                </div>

                <div class="col-md-12">

                    <div class="form-check-inline">
                        <div class="custom-control custom-radio" style="padding-left: 8px; padding-right: 0px;">
                            <input type="radio" class="custom-control-input custom-radio-btn" checked="checked"
                                value="Yes" id="poaYes" name="poaYesNo" />
                            <label class="custom-control-label" for="poaYes">Yes</label>
                        </div>

                        <!-- Default checked -->
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input custom-radio-btn" value="No" id="poaNo"
                                name="poaYesNo" />
                            <label class="custom-control-label" for="poaNo">NO</label>
                        </div>
                    </div>

                </div>
            </div>

            <div id="PowerOfAtterneyDiv" style="display: none">


                <div class="row m-0">
                    <div class="col-md-12">
                        <label class="pd">Power of Attorney Front : </label>

                    </div>
                    <div class="col-sm-4 md-form" id="PowerOfAttornyFileDiv">

                        <p>Choose file to upload</p>
                        <div class="file-field">
                            <div class="btn btn-primary1 btn-sm float-left">

                                <input type="file" name="PowerOfAttornyFile" id="PowerOfAttornyFile" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" id="PowerOfAttornytextfile"
                                    name="PowerOfAttornytextfile"
                                    style="border: none; padding-top: 10px; padding-left: 13px; width: 100%"
                                    type="button" value="Upload" placeholder="Upload your power of attorney" />
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <p style="font-size: 14px;">
                            Note: Allowed document types are JPG, JPEG and PDF. File must be less than 3 MB in size
                        </p>
                    </div>


                    <div id="PowerOfAttornyFileSuucessMsg"
                        class="col-sm-4 alert alert-success fade in alert-dismissible show"
                        style="display: none; margin-top: 27px;">File has been uploaded successfully</div>

                    <div class="col-md-5" style="margin-top: 38px; margin-bottom: 20px;">
                        <a href="" class="btn btn-sm btn-danger" style="display: none" id="powerofattorneyImg"
                            target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download uploaded Power of
                            attorney front</a>
                        <a href="#" class="btn btn-sm btn-danger" style="display: none"
                            id="powerofattorneyImgReupload">X</a>
                    </div>




                    <div class="col-md-3">
                        <div id="hiddenpowerofattorneyImg" style="display: none"></div>
                    </div>
                </div>


                <div class="row m-0">
                    <div class="col-md-12">
                        <label class="pd">Power of Attorney Back : </label>

                    </div>
                    <div class="col-sm-4 md-form" id="PowerOfAttornyFileBackDiv">

                        <p>Choose file to upload</p>
                        <div class="file-field">
                            <div class="btn btn-primary1 btn-sm float-left">

                                <input type="file" name="PowerOfAttornyFileBack" id="PowerOfAttornyFileBack" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" id="PowerOfAttornytextfileBack"
                                    name="PowerOfAttornytextfileBack"
                                    style="border: none; padding-top: 10px; padding-left: 13px; width: 100%"
                                    type="button" value="Upload" placeholder="Upload your power of attorney" />
                            </div>
                        </div>
                        <div style="clear: both"></div>
                        <p style="font-size: 14px;">
                            Note: Allowed document types are JPG, JPEG and PDF. File must be less than 3 MB in size
                        </p>
                    </div>


                    <div id="PowerOfAttornyFileBackSuucessMsg"
                        class="col-sm-4 alert alert-success fade in alert-dismissible show"
                        style="display: none; margin-top: 27px;">File has been uploaded successfully</div>

                    <div class="col-md-5" style="margin-top: 38px; margin-bottom: 20px;">
                        <a href="" class="btn btn-sm btn-danger" style="display: none" id="powerofattorneyImgBack"
                            target="_blank"><i class="fa fa-download" aria-hidden="true"></i>Download uploaded Power of
                            attorney back</a>
                        <a href="#" class="btn btn-sm btn-danger" style="display: none"
                            id="powerofattorneyImgBackReupload">X</a>
                    </div>



                    <div class="col-md-3">
                        <div id="hiddenpowerofattorneyImgBack" style="display: none"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 text-center mt-4 next-previous">
                    <button type="button" class="btn btn-info" id="PreviousBtn"><i class="fa fa-arrow-left "
                            aria-hidden="true"></i>Previous step</button>
                    <button type="button" class="btn btn-primary default-btn" id="exchangestepnextbtn"
                        (click)="onSubmit()">Save and proceed to next</button>
                </div>
            </div>
        </div>
    </form>

</section>