<div id="KRA" class="container tab-pane">
    <div class="box kyc-div">
        <div class="row">
            <div class="col-lg-12">
                <h1><span>
                    <img src="../../../assets/images/kyc-icon.png" /></span>&nbsp; We have your profile available in KRA (<span id="ContentPlaceHolder1_kraNameTxt"></span>)</h1>
            </div>
            <div class="col-sm-12 checked-div">
                <!-- Default unchecked -->
                <div class="form-check-inline">
                </div>
            </div>
        </div>

        <div class="row personalised_div upload-div" id="KRAuploadDiv">





            <div class="col-md-3 col-xs-12">
                <label class="pd" style="padding-top: 12px;">Date of birth as per KRA</label>

            </div>

            <div class="col-md-3 col-xs-12">
                <div class="form-group">

                    <input type="date" style="width: 100%; padding-left: 20px; padding-right: 20px;" class="form-control dobCheck" [(ngModel)]="dob" name="DateofBrith" id="DateofBrith" placeholder="Date of Brith" />
                </div>

            </div>


            <div class="col-md-2 col-xs-12  aadhaar-pdf">
                <div class="text-center ">
                    <button class="btn btn-sm btn-primary" type="button" id="KraSubmitbtn" (click)="continueKRA()" name="KraSubmitbtn">Continue</button>
                </div>
            </div>

            <div class="col-md-12 col-xs-12  aadhaar-pdf" style="color: red; display:none">
                Note: Please proceed with "E-Aadhaar PDF" only in case you want to open a/c in MCX or NCDEX exchange
            </div>





        </div>
        <div class="col-lg-10" id="Euidlinkdiv" style="display: none;">
            <a href="#" id="Eaadharfiledownload" style="font-size: 18px; text-decoration: underline; text-transform: capitalize; color: #0006ff;">Click
                    here to visit UIDAI Portal to generate one</a>
        </div>

    </div>

</div>