<div>
    <div>
        <input name="MobileNumber" type="text" id="MobileNumber"
            maxlength="10" class="form-control mb-4 number" required=""
            placeholder="Mobile no ">
    </div>
    <div>

        <input name="Emailtext" type="text" id="Emailtext"
            class="form-control mb-3" required="" placeholder="E-mail">
    </div>
    <div class="form-group termsCondns">
        <input name="iAgreeChk" type="checkbox" id="iAgreeChk"
            checked="checked">
        I agree
        <a href="https://office.innodigital.in/bahubali/#"
            data-toggle="modal" data-target="#myModal2">Terms &amp;
            Conditions </a>
    </div>

    <input type="submit" name="submitBtn" value="Get otp" id="submitBtn"
        class="btn btn-sm btn-primary btn-block">

</div>
