<div class="formBox">
    <form [formGroup]="form">
        <div class="mb-4">

            <input name="MobileNumber" type="number" class="form-control mb-4 number" formControlName="mobile"
                placeholder="Mobile no " [ngClass]="{'is-invalid':submitted && f['mobile'].errors}">
            <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
                <div *ngIf="f['mobile'].errors['required']">Mobile is required
                </div>
                <div *ngIf="f['mobile'].errors['pattern']">Please, Enter 10 digit Mobile Number</div>
            </div>
        </div>
        <div class="mb-4">

            <input name="Emailtext" type="email" formControlName="email" class="form-control mb-3" placeholder="E-mail"
                [ngClass]="{'is-invalid':submitted && f['email'].errors}">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required
                </div>
                <div *ngIf="f['email'].errors['pattern']">Email is invalid</div>
                <!-- <div *ngIf="f['email'].errors['email']">Email is invalid</div> -->
            </div>
        </div>
        <div class="form-group termsCondns" class="mb-4">
            <input name="iAgreeChk" type="checkbox" formControlName="acceptTerms"
                [ngClass]="{'is-invalid':submitted && f['acceptTerms'].errors }">
            I agree
            <a href="https://office.innodigital.in/bahubali/#">Terms &amp;
                Conditions </a>
                <div *ngIf="submitted && f['acceptTerms'].errors" class="invalid-feedback">
                    Accept Terms is required
                </div>
        </div>

        <input type="submit" name="submitBtn" value="Get otp" class="btn btn-sm btn-primary submit-buttt"
            (click)="onSubmit()">




    </form>
</div>



<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-6" id="exampleModalLabel">Please enter the One-Time Password(OTP) to verify
                    your Mobile</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="mobileverifyform" *ngIf="verifymobileForm">
                    <p class="text-center one">A One-Time Password has been sent to <b><span
                                id="mobilenumberentered">******3797</span></b></p>
                    <div>
                        <input type="text" class="form-control verify-input" formControlName="mobileotp"
                            [ngClass]="{'is-invalid':submitted1 && f1['mobileotp'].errors}">
                        <div *ngIf="submitted1 && f1['mobileotp'].errors" class="invalid-feedback">
                            <div *ngIf="f1['mobileotp'].errors['required']" class="text-center">Mobile OTP is required
                            </div>
                        </div>
                    </div>
                    <div class="text-center my-4">
                        <button class="default-but" (click)="verifyMobile()">verify</button>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <div>
                            <p class="resend">Resend One-Time password</p>
                        </div>
                        <div>
                            <button>change Mobile Number?</button>
                        </div>
                    </div>
                </form>

                <form [formGroup]="emailverifyform" *ngIf="verifyemailform">
                    <p class="text-center one">A One-Time Password has been sent to <b><span
                                id="mobilenumberentered">ram&#64;gmail.com</span></b></p>
                    <div>
                        <input type="number" class="form-control verify-input" formControlName="emailotp"
                            [ngClass]="{'is-invalid':submitted2 && f2['emailotp'].errors}">
                        <div *ngIf="submitted2 && f2['emailotp'].errors" class="invalid-feedback">
                            <div *ngIf="f2['emailotp'].errors['required']" class="text-center">Email OTP is required
                            </div>
                        </div>
                    </div>
                    <div class="text-center my-4">
                        <button class="default-but" (click)="verifyEmail()">verify</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>