<form [formGroup]="form">
    
<div id="PanDOB">

    <div class="mb-4">
        <input type="text" class="form-control mb-4 nospecialchar pan-input"  style="text-transform: uppercase" placeholder="PAN number"   formControlName="Pannumber"  [ngClass]="{'is-invalid':submitted && f['Pannumber'].errors}">
        <div *ngIf="submitted && f['Pannumber'].errors" class="invalid-feedback">
            <div *ngIf="f['Pannumber'].errors['required']">Pan Number is required
            </div>
            <div *ngIf="f['Pannumber'].errors['pattern']">Invalid Pan Number</div>
        </div>
    </div>
    <div class="">
    <div class="col-12 ">
        <label>Date of Birth (As per PAN)</label>

    </div>

    <div class="col-12 ">
        <div class="form-row pan-date">
            <div class="form-group col-sm-4 col-4">
                <input  type="number" class="form-control number cDatezero cDateCls" formControlName="day" placeholder="DAY" [ngClass]="{'is-invalid':submitted && f['day'].errors}" maxlength="2" (input)="OnInput($event,dateofmonthInput)">
                <div *ngIf="submitted && f['day'].errors" class="invalid-feedback">
                    <!-- <div *ngIf="f['DateofBrithDay'].errors['required']">Day is required
                    </div> -->
                </div>
            </div>
            <div class="form-group col-sm-4 col-4">
                <input  type="number"  class="form-control number cDatezero cDateCls"  placeholder="MM"  formControlName="month"  [ngClass]="{'is-invalid':submitted && f['month'].errors}" maxlength="2" (input)="OnInput($event,dateofYearInput)" #dateofmonthInput>
                <div *ngIf="submitted && f['month'].errors" class="invalid-feedback">
                    <div *ngIf="f['month'].errors['pattern']">Invalid month
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-4 col-4">
                <input  type="number" class="form-control number cDateCls "  placeholder="YYYY"  formControlName="year"  [ngClass]="{'is-invalid':submitted && f['year'].errors}" maxlength="4" #dateofYearInput>
                <div *ngIf="submitted && f['year'].errors" class="invalid-feedback">
                  
                </div>
            </div>
        </div>
    </div>

</div>
    <input type="submit" name="PanDobSubmit"  class="btn btn-sm btn-primary btn-block" (click)="onSubmit()">


</div>
</form>