<div id="DigiLocker" class="container tab-pane active">
  <div class="box kyc-div">
    <div class="row">
      <div class="col-lg-12">
        <h1>Digilocker - KYC Documents</h1>
      </div>
    </div>

    <div class="row personalised_div upload-div" id="digiLockerdiv">
      <div class="col-sm-12">
        <h2>
          Your Aadhaar card must be linked to any mobile number to receive and
          confirm OTP
        </h2>
      </div>

      <div
        class="col-lg-12"
        style="
          margin-left: 25px;
          padding-top: 20px;
          border: 1px solid #dcdcdc;
          max-width: 80%;
          margin-top: 20px;
          border-radius: 5px;
        "
      >
        <div class="digilocker-heading">
          <h3>Why is this needed?</h3>
          <p>
            Digilocker automatically verifies your documents needed for account
            opening with BAHUBALI | Open Trading and Demat Account Online
          </p>
        </div>
      </div>

      <div class="col-sm-3 aadhaar-pdf" style="margin-left: 12px">
        <div class="text-left mt-4">
          <button
            class="btn btn-sm btn-primary"
            type="button"
            id="digiLockerSubmit"
            name="digiLockerSubmit"
            (click)="digilocker()"
          >
          <a href=""></a>
            Proceed to KYC
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
