<section id="MainSection">
  <div class="banner-bg1">
    <div class="container">
      <div id="HeadingDiv" class="row">
        <div class="col-md-7 col-lg-8 kyc-left d-none">
          <h1>
            Open Online Demat &
            <br />
            <span>Trading account</span>
          </h1>
        </div>

        <div class="col-md-5 col-lg-4 kyc-right"></div>
      </div>

      <form method="post" action="./BankDetails.aspx" id="form1">
        

        <div class="aspNetHidden">
          <input
            type="hidden"
            name="__VIEWSTATEGENERATOR"
            id="__VIEWSTATEGENERATOR"
            value="E23E45A7"
          />
          <input
            type="hidden"
            name="__EVENTVALIDATION"
            id="__EVENTVALIDATION"
            value="cKuuhBvnkxFSXqPxslkgHRjSq3oU4e3gFDngzUX0a3/PCWX3R5nhpCou54rXU66l4eBAufS+CeJMtxWOqvo5WcAbust1xmIoGlA4FXCGdoy0hGfj+djEQAMIruNpcAerf7bZxpgqGr+vbxTW3l3ZWvFzp44dyoJmYteXOXuAA7scEw90mPu86GrCYm8aMxa8"
          />
        </div>
        <div>
          <input
            name="ctl00$ContentPlaceHolder1$PanNo"
            type="hidden"
            id="ContentPlaceHolder1_PanNo"
            value="bocpa1332l"
          />
          <input
            name="ctl00$ContentPlaceHolder1$UniqueId"
            type="hidden"
            id="ContentPlaceHolder1_UniqueId"
            value="13ecc4b6-fcf5-4ef7-8bcf-84e1cb64804d"
          />
          <input
            name="ctl00$ContentPlaceHolder1$TransactionID"
            type="hidden"
            id="ContentPlaceHolder1_TransactionID"
            value="13ecc4b6-fcf5-4ef7-8bcf-84e1cb64804d"
          />

          <div class="col-lg-12" id="StepsnavigationDiv">
            <div id="quickNavigationDiv">
              <a href="#" id="quickMenu" class="btn btn-info">
                <span id="QucikLinkText">Address</span>
                <i class="fa fa-bars" aria-hidden="true"></i>
              </a>
              <div class="clearfix"></div>
            </div>
          </div>

          <!--popup-->
          <!-- The Modal -->

          <!-- Modal bank account number check -->
          <div id="myModalBankAccountCheck" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content confirm-groupBtns">
                <div
                  class="modal-header"
                  style="
                    background-color: #0e73a5;
                    color: #fff;
                    text-align: center;
                  "
                >
                  <h4 class="modal-title" style="font-size: 21px; color: #fff">
                    Confirm Bank Account Number
                  </h4>
                </div>
                <div class="modal-body" style="text-align: center">
                  <p
                    style="
                      text-align: center;
                      font-size: 18px;
                      font-weight: 500;
                    "
                  >
                    Entered account number:
                    <span id="BankAccNumber" style="color: #f00"></span>
                  </p>

                  <input
                    type="button"
                    class="btn btn-success"
                    style="
                      padding: 0px;
                      width: 80px;
                      border-radius: 4px;
                      height: 38px;
                    "
                    id="BankAccNumberYes"
                    value="Yes" (click)="confrim()"
                  />

                  <a class="btn btn-warning" (click)="no()" id="BankAccNumberNo"
                    >No</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->

          <!--End Popup-->

          <div class="col-lg-12" id="rejectedReasonsDiv" style="display: none">
            <div class="rejectedReasonsHead">Rejected Reasons</div>
            <div class="rejectedReasonsBody">
              <ul>
                <li></li>
              </ul>
            </div>
          </div>

          <section>
            <div
              class="box kyc-div mt-3 personal-details bank-details"
              *ngIf="step"
            >
              <div class="row" id="ChooseBank">
                <div class="col-sm-12 text-center mt-4">
                  <h1 id="bankHeaderId">Choose your Bank</h1>
                  <p>
                    BAHUBALI | Open Trading and Demat Account Online protects
                    your financial information with Bank Grade Security
                  </p>
                </div>

                <div class="col-sm-7 mx-auto dropdown parent" id="mainBankDiv">
                  <div
                    class="BsearchBox d-flex dropdown-toggle"
                    data-toggle="dropdown"
                    id="DropDownBtN"
                  >
                    <div class="mt-2 mb-2 ml-3 mr-3">
                      <img
                        src="{{ selectedBank }}"
                        id="SelectedBankImg"
                        width="20"
                        height="20"
                        *ngIf="selectedBank"
                      />
                      <img
                        src="../../../assets/images/bank-icons/dummy.jpg"
                        id="SelectedBankImg"
                        width="20"
                        height="20"
                        *ngIf="!selectedBank"
                      />
                    </div>
                    <div class="w-100">
                      <form>
                        <input
                          type="text"
                          class="form-control p-0 m-0"
                          placeholder="Search Bank"
                          autocomplete="off"
                          name="search"
                          id="BankSearchTxtbox"
                          [(ngModel)]="currentValue"
                          (keyup)="show = true"
                          (keyup.back)="show = false"
                        />
                      </form>
                    </div>
                    <div class="pl-3 pr-3 pt-2">
                      <img src="../../../assets/images/down-arrow.gif" />
                    </div>
                  </div>
                  <div *ngIf="currentValue.length > 0" class="child">
                    <div *ngIf="show">
                      <div
                        *ngFor="
                          let data of banknames | searchFilter : currentValue
                        "
                        (click)="optionselected(data)"
                      >
                        <span
                          ><img
                            class="mr-2 p-2"
                            src="{{ data.icon }}"
                            alt="" /></span
                        >{{ data.bankname }}
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="col-sm-7 mx-auto mt-3"
                  id="IfscDiv"
                  *ngIf="selectedValue"
                >
                  <form>
                    <input
                      type="text"
                      class="form-control"
                      autocomplete="off"
                      placeholder="Search Branch (Min 4 Letters)"
                      id="IFSCBranchSearch"
                      name="bankBranch"
                      [(ngModel)]="currentBranch"
                      (keyup)="showBranches = true"
                    />
                  </form>
                  <div *ngIf="currentBranch.length > 0">
                    <div *ngIf="showBranches">
                      <div
                        *ngFor="
                          let bank of banknames | searchFilter : currentBranch
                        "
                        class=""
                        style="
                          font-size: 14px;
                          margin-top: 5px;
                          margin-bottom: 5px;
                          cursor: pointer;
                        "
                        (click)="branchSelected(bank)"
                      >
                        <span class="mr-1 my-4">{{ bank.city }}</span
                        >- <span class="my-4">({{ bank.ifsc }})</span>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">Or</div>

                  <form action="">
                    <input
                      type="text"
                      class="form-control"
                      autocomplete="off"
                      placeholder="Search IFSC (Min 4 Letters)"
                      id="IFSCSearch"
                      [(ngModel)]="currentIFSC"
                      name="ifsc"
                      (keyup)="showIFSC = true"
                    />
                  </form>
                  <div *ngIf="currentIFSC.length > 0">
                    <div *ngIf="showIFSC">
                      <div
                        *ngFor="
                          let bank of banknames | searchFilter : currentIFSC
                        "
                        (click)="ifscSelected(bank)"
                      >
                        <span>{{ bank.ifsc }}</span
                        >- <span>{{ bank.city }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--popup-->

              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="border-bottom: 0px; padding: 5px 10px"
                    >
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-center">
                        <img src="images/wallent.jpg" />
                      </p>
                      <p class="text-center">
                        We are depositing 1 in your bank account to verify it
                      </p>
                      <p class="text-center">
                        <small>This will take 20 secounds</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="modal fade"
                id="exampleModal1"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="border-bottom: 0px; padding: 5px 10px"
                    >
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-center">
                        <img src="images/successfully.jpg" />
                      </p>
                      <p class="text-center" style="color: green">
                        Bank Linked successfully!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--End popup-->
            </div>

            <div  class="row box kyc-div mt-3 personal-details bank-details" id="VerifyBannkAccountDetailsDiv" *ngIf="!step">
              <div class="col-sm-12 text-center mt-4">
                <h1>Verify your bank account</h1>
                <p>
                  Invesments on BAHUBALI | Open Trading and Demat Account Online
                  can be done using only saving bank accounts
                </p>
              </div>

              <div class="col-12">
                <div class="row" id="Verify">
                  <div class="col-lg-7 mt-3 mx-auto">
                    <div class="btn-group bank-box w-100">
                      <div class="col-sm-12 box-details">
                        <!--  data-toggle="modal" data-target="#exampleModal1" -->
                        <div>
                          <img
                            id="fetchBankImg"
                            src="{{selectedBank}}"
                          />
                          <span id="FectchedBank">-</span>
                          <a
                            (click)="bankEdit()"
                            id="EditBankDetails"
                            class="float-right"
                            style="color: green"
                            >Edit</a
                          >
                        </div>

                        <ul class="branch-address">
                          <li>Branch Name</li>
                          <li id="FetchBranchName">-{{bankDetails.city}}</li>
                          <li>IFSC Code</li>
                          <li id="FetchIFSCCode">-{{bankDetails.ifsc}}</li>
                          <li>Address</li>
                          <li id="BranchAddress">-{{bankDetails.address}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                 <form [formGroup]="form">
                    <div class="bank-form-div mt-3">
                        <div class="mb-3 alert alert-primary">
                          <label
                            for="exampleInputEmail1"
                            class="form-label text-black"
                            >Enter Bank Account Number</label
                          >
                          <input
                            type="number"
                            class="form-control"
                            maxlength="18"
                            name="bankAccountnumber"
                            id="bankAccountnumber"
                            placeholder="Enter number here"
                            id="accountNoTxt"  formControlName="account_number" [ngClass]="{ 'is-invalid': submitted && f['account_number'].errors }"
                          />
                          <div *ngIf="submitted && f['account_number'].errors" class="invalid-feedback">
                            <div *ngIf="f['account_number'].errors['required']">Account Number is required</div>
                            <div *ngIf="f['account_number'].errors['pattern']">Account Number should be min-8 digits</div>
                          
                            
                          </div>
    
                          <input
                            type="hidden"
                            class="form-control"
                            maxlength="11"
                            style="
                              text-transform: uppercase;
                              margin-bottom: 0px !important;
                            "
                            autocomplete="off"
                            name="ifsccodetxt"
                            id="ifsccodetxt"
                            placeholder="IFSC"
                          />
                        </div>
    
                        <div class="row">
                          <div
                            class="col-md-3"
                            id="micrcodediv"
                            style="display: none"
                          >
                            <div class="form-label-group">
                              <input
                                type="text"
                                class="form-control"
                                maxlength="9"
                                name="micrtxt"
                                id="micrtxt"
                                placeholder="MICR No."
                              />
                            </div>
                          </div>
    
                          <!--Start-->
                          <div class="personalised_div col-sm-12">
                            <div
                              class="row bankuploaddiv"
                              id="bankuploaddiv"
                              style="display: none"
                            >
                              <div class="col-lg-12 col-12">
                                <div class="row">
                                  <div class="col-sm-12" id="PersonanalisedTxtId">
                                    <p class="text-left upload-text">
                                      Upload scan copy of the cancelled cheque where
                                      your Name, Bank account number, IFSC and MICR
                                      number are clearly visible (personalised
                                      cheque)
                                    </p>
                                  </div>
                                </div>
    
                                <p id="personalised_text" style="display: none">
                                  Upload latest bank statement<br />
                                </p>
                              </div>
    
                              <div
                                class="col-lg-12 col-12"
                                id="chequeleafuploaddiv"
                              >
                                <div class="mytab mytab1 text-center">
                                  <div>
                                    <div>
                                      <div class="form-group position_R">
                                        <input
                                          type="file"
                                          class="form-control"
                                          name="chequeleafefile1"
                                          tabindex="18"
                                          id="chequeleafefile1"
                                          placeholder=""
                                          style="position: relative"
                                        />
    
                                        <small
                                          >Note : Allowed document types are JPG,
                                          JPEG,PDF. File must be less than 3 MB in
                                          size.</small
                                        >
                                      </div>
    
                                      <div
                                        id="chequeleafefile1SuucessMsg"
                                        class="alert alert-success fade in alert-dismissible show"
                                        style="display: none"
                                      >
                                        Uploaded cheque verified successfully
                                      </div>
                                    </div>
                                    <div
                                      id="hidnchequeleafefile"
                                      style="display: none"
                                    ></div>
                                    <div class="row">
                                      <div class="col-12">
                                        <a
                                          href=""
                                          class="btn btn-sm btn-success"
                                          style="display: none"
                                          id="UploadChequeleafbtn1"
                                          target="_blank"
                                          ><i
                                            class="fa fa-download"
                                            aria-hidden="true"
                                          ></i>
                                          Download Uploaded Cheque</a
                                        >
    
                                        <a
                                          href="#"
                                          class="btn btn-sm btn-danger"
                                          style="display: none"
                                          id="UploadChequeleafbtn1Reupload"
                                          >X</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--End-->
                        </div>
    
                        <div class="row">
                          <div class="col-lg-6 mt-3 mx-auto">
                            <button
                              type="button"
                              class="mt-2 btn btn-primary btn-block text-center shadow-sm default-btn"
                              id="Submit" (click)="onSubmit()"
                            >
                              VERIFY BANK ACCOUNT
                            </button>
                          </div>
                        </div>
                      </div>
                 </form>
                </div>
              </div>
            </div>
          </section>

          <div class="mypopup">
            <div class="modal" id="searchBankModal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <div class="text-center">
                      <h4 class="modal-title">Search Bank</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">
                      &times;
                    </button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <label class="form-label">Search Bank</label>
                        <input
                          type="text"
                          class="form-control"
                          autocomplete="off"
                          id="BankSearchTxt"
                        />
                      </div>
                      <div
                        class="col-lg-6"
                        id="IFSCListDiv"
                        style="display: none"
                      >
                        <label class="form-label">IFSC List</label>

                        <input
                          type="text"
                          class="form-control"
                          autocomplete="off"
                          id="IFSCSearchTxtBox"
                          list="IFSCListDropDown"
                        />

                        <datalist id="IFSCListDropDown">
                          <option value="">Select IFSC</option>
                        </datalist>
                      </div>

                      <div
                        class="col-lg-6"
                        id="SubmitIFSCDiv"
                        style="display: none"
                      >
                        <input
                          type="button"
                          class="btn btn-primary"
                          value="Submit"
                          id="SubmitIFSC"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer" style="display: none">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script src="js/BankdetailsSave.js?v=988"></script>
        </div>
      </form>
    </div>
  </div>
</section>
