<p style="color: #9b9b9b; font-size: 12px; font-weight:400">
    If you have already started your application, please fill out the
    below details and log in.
</p>
<div>

    <input name="existinguserpan" type="text" id="existinguserpan"
        required="" onkeypress="return /[0-9a-zA-Z]/i.test(event.key)"
        class="form-control mb-4 " style="text-transform: uppercase"
        placeholder="PAN number">
</div>
<div>

    <input name="exstingusermobile" type="text" id="exstingusermobile"
        required="" class="form-control mb-4  number"
        placeholder="Mobile no as per Aadhar">
</div>


<div class="formBox">
    <input type="submit" name="existuser_btn" value="LOGIN"
        id="existuser_btn" class="btn btn-primary mt-1">
</div>

