<div class="clearfix"></div>
<!-- Navbar End -->

<div class="circle-section">
    <div class="vector-1">
        <img src="../../assets/images/circle1.svg" alt="vector" class="img-fluid">
    </div>
</div>


<!-- ======= Header ======= -->
<header id="header">
    <div class="container">
        <div class="d-flex justify-content-between mobile-div">
            <div> <img src="../../assets/images/logo.png" width="100"></div>

        </div>
    </div>
</header>
<!-- End Header -->
<!-- START HOME -->
<section class="Sliderbar hero-section hero-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1 order-md-1 services">
                <h1 class="animate__animated animate__fadeInDown">Join the Next Generation<br>
                    <span> of Investor Trust</span>
                </h1>
                <div class="pl-3">
                    <img src="../../assets/images/login-img.png" class="img-fluid" width="360">
                </div>





                <div style="display:none">
                    <ul class="following-documents01">
                        <li><span>Pan Card</span></li>
                        <li><span>Aadhaar Card</span></li>
                        <li><span>Sign on blank white paper</span></li>
                        <li><span>Cancel Cheque </span></li>

                    </ul>
                </div>

            </div>
            <div class="col-lg-5 order-1 order-lg-2 order-md-2 formBox">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-registration-form text-left animate__animated animate__fadeInLeft">
                            <ul class="nav nav-pills rounded justify-content-start pricing-tab-border"
                                id="pills-tab" role="tablist">
                                <li class="nav-item " style="float: left;" *ngFor="let data of authSteps">
                                    <a  class="nav-link rounded monthly" (click)="authNav(data.id)" [ngClass]="{'active':data.selected}">{{data.title}}</a>
                                </li>
                                <!-- <li class="nav-item d-inline-block" style="float: right;">
                                    <a id="Yearly" class="nav-link rounded yearly" role="tab"
                                        aria-selected="false"
                                        href="javascript:__doPostBack(&#39;Yearly&#39;,&#39;&#39;)">Track your
                                        existing application
                                    </a>
                                </li> -->
                            </ul>

                            <div>
                                <div class="tab-content pt-3" id="pills-tabContent">
                                    <div id="Month" class="tab-pane fade active show" role="tabpanel"
                                        aria-labelledby="Monthly">
                                        <div style="display: none;">
                                            <input name="NameTxt" type="text" id="NameTxt"
                                                class="form-control mb-4 alphaonly" required=""
                                                style="text-transform: uppercase" placeholder="Name as per PAN">
                                        </div>


                                        <div *ngIf="step === 'signup'">
                                            <app-sign-up></app-sign-up>
                                        </div>
                                    </div>
                                    
                                    <div *ngIf="step === 'signin'">

                                        <app-sign-in ></app-sign-in>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="box-content text-center">
                    <img src="../../assets/images/panIcon.png" width="32">
                    <p class="mb-0 mt-1">
                        Pan Card
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="box-content text-center">
                    <img src="../../assets/images/aadhaarIcon.png" width="40">
                    <p class="mb-0 mt-1">
                        Aadhaar Card
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="box-content text-center">
                    <img src="../../assets/images/bankwhitePaperIcon.png" width="33">
                    <p class="mb-0 mt-1">
                        Sign on blank white paper
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="box-content text-center">
                    <img src="../../assets/images/CancelChequeIcon.png" width="40">
                    <p class="mb-0 mt-1">
                        Cancel Cheque
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Animation shapes-->

</section>
<!-- END HOME -->










<!--middle-->
<section id="sb-service" class="pr3-service-section" data-background="images/innerpage-bg.png"
    style="background-image: url(images/innerpage-bg.png); display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="pr3-title-area text-center wow fadeInUp animated animated"
                    style="visibility: visible;">
                    <div class="pr3-headline">

                        <div class="pr3-headline">
                            <h3>What are you looking for?</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="pr3-service-content">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pr3-service-column wow fadeInUp animated animated" style="visibility: visible;">
                        <div class="pr3-icon-wrapper">
                            <i class="flaticon-settings">
                                <img src="../../assets/images/trading-icon.png" width="60">
                            </i>
                        </div>
                        <div class="pr3-headline">
                            <h5>Trading</h5>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Equities, Derivatives, Commodities </p>
                        </div>
                        <a href="https://bahubali.in/online-trading/" target="_blank">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-60">
                    <div class="pr3-service-column color-2 wow fadeInUp animated animated" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s;">
                        <div class="pr3-icon-wrapper">
                            <i class="flaticon-idea">
                                <img src="../../assets/images/Depository-Services-icon.png">
                            </i>
                        </div>
                        <div class="pr3-headline">
                            <h5>Depository Services</h5>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>DEMAT – A new age of technology </p>
                        </div>
                        <a href="https://bahubali.in/depository-services/" target="_blank">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pr3-service-column color-3 wow fadeInUp animated animated" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s;">
                        <div class="pr3-icon-wrapper">
                            <i class="flaticon-design">
                                <img src="../../assets/images/SLBM-icon.png">
                            </i>
                        </div>
                        <div class="pr3-headline">
                            <h5>SLBM</h5>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Lending and borrowing of securities </p>
                        </div>
                        <a href="https://office.innodigital.in/bahubali/">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pr3-service-column color-4 wow fadeInUp animated animated" data-wow-delay="0.3s"
                        style="visibility: visible; animation-delay: 0.3s;">
                        <div class="pr3-icon-wrapper">
                            <i class="flaticon-cloud-service">
                                <img src="../../assets/images/mutual-fund-icon.png">
                            </i>
                        </div>
                        <div class="pr3-headline">
                            <h5>Mutual Funds</h5>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>SIP, Tax benefits and more </p>
                        </div>
                        <a href="https://office.innodigital.in/bahubali/">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-60">
                    <div class="pr3-service-column color-5 wow fadeInUp animated animated" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s;">
                        <div class="pr3-icon-wrapper">
                            <i class="flaticon-analysis">
                                <img src="../../assets/images/ipo-icon.png" width="50">
                            </i>
                        </div>
                        <div class="pr3-headline">
                            <h5>IPO Distribution</h5>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Roadshows, Public offers </p>
                        </div>
                        <a href="https://office.innodigital.in/bahubali/">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pr3-service-column wow fadeInUp animated animated" data-wow-delay="0.5s"
                        style="visibility: visible; animation-delay: 0.5s;">
                        <div class="pr3-icon-wrapper">
                            <i class="flaticon-coding-1">
                                <img src="../../assets/images/loan-icon.png">
                            </i>
                        </div>
                        <div class="pr3-headline">
                            <h5>Loan Against Shares</h5>
                        </div>
                        <div class="pr3-pera-txt">
                            <p>Hassle free loan on shares </p>
                        </div>
                        <a href="https://office.innodigital.in/bahubali/">Learn more <i
                                class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="pr3-primary-btn mt-60 wow fadeInUp animated animated" data-wow-delay="0.6s"
                style="visibility: visible; animation-delay: 0.6s;">
                <a href="https://bahubali.in/" target="_blank">Load more</a>
            </div>
        </div>
    </div>
</section>
<!--End Middle section-->

<section class="declaration-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>By submitting your contact details, you authorise Bahubali to call or text you for the
                    purpose of account opening even though you may be registered on DND.</p>
                <p>Online account opening requires your mobile number to be linked to Aadhaar. You can check if
                    your mobile number is linked to Aadhaar here. If your mobile number isn't linked to Aadhaar,
                    please open your account <a
                        href="https://bahubali.in/download/Account%20Opening%20Form%20KYC%20Kit.pdf"
                        target="_blank">offline</a></p>
                <p>Online account opening involves using Digilocker.gov.in to obtain your identity proof if you
                    are not already KRA verified, and digitally signing your application form with Aadhaar eSign
                    using Digio (licensed ASP). We do not collect or store your Aadhaar number, and neither of
                    these services reveal your Aadhaar number to us. </p>
                <p>Please Note: Your account name would be taken as per the name registered on the Income Tax
                    database / as per your PAN.</p>
                <p>If you are looking to open a HUF, Corporate, Partnership, or an NRI account, you have to use
                    the <a href="https://bahubali.in/download/Account%20Opening%20Form%20KYC%20Kit.pdf"
                        target="_blank">offline forms.</a></p>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid footer-wrap" style="height:auto;">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12 col-sm-6">
                    <a href="https://bahubali.in/" target="_blank"><img src="https://bahubali.in/wp-content/themes/bahubali/images/footer-logo.png" width="200"
                            class="img-responsive"></a>
                    <h5>Bahubali stands for creating an environment where investors' interests come first,
                        clients are empowered to gain from market opportunities and long term relationships are
                        built with our clients.</h5>
                </div>
                <div class="col-lg-2 col-6 col-sm-3 pad10">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="https://bahubali.in/services" target="_blank">Services</a></li>
                        <li><a href="https://bahubali.in/about-us" target="_blank">About Us</a></li>
                        <li><a href="https://bahubali.in/partners" target="_blank">Partner Us</a></li>
                        <li><a href="https://bahubali.in/careers" target="_blank">Career</a></li>
                        <li><a href="https://bahubali.in/downloads" target="_blank">Downloads</a></li>
                        <li><a href="https://bahubali.in/backoffice" target="_blank">Backoffice</a></li>
                        <li><a href="https://bahubali.in/contact-us" target="_blank">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li><a href="https://www.nseindia.com/" target="_blank">NSE</a></li>
                        <li><a href="https://www.bseindia.com/" target="_blank">BSE</a></li>
                        <li><a href="https://www.sebi.gov.in/" target="_blank">SEBI</a></li>
                        <li><a href="https://nsdl.co.in/" target="_blank">NSDL</a></li>
                        <li><a href="https://www.cdslindia.com/" target="_blank">CDSL</a></li>
                        <li><a href="https://www.rbi.org.in/" target="_blank">RBI</a></li>
                        <li><a href="https://office.innodigital.in/bahubali/www.mca.gov.in/"
                                target="_blank">MCA</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-12 col-sm-12">
                    <h3>Reach us</h3>
                    <div id="text-4" class="widget widget_text ">
                        <div class="textwidget">
                            <p><i class="fa fa-phone"></i>+91 8069209500</p>
                            <p><i class="fa fa-envelope"></i> backofficebahubali.in</p>
                            <p><i class="fa fa-map-marker-alt"></i> 12, India Exchange Place, 3rd Floor, Kolkata
                                – 700 001</p>
                        </div>
                    </div>
                    <div id="media_image-3" class="widget widget_media_image "><img width="300" height="74"
                            src="images/NSE-300x74.jpg"
                            class="image wp-image-642  attachment-medium size-medium" alt="" loading="lazy"
                            style="max-width: 100%; height: auto;"
                            srcset="https://bahubali.in/wp-content/uploads/2021/01/NSE-300x74.jpg 300w, https://bahubali.in/wp-content/uploads/2021/01/NSE.jpg 570w"
                            sizes="(max-width: 300px) 85vw, 300px"></div>
                    <div class="footer-social-wrap">
                        <div id="text-3" class="widget widget_text ">
                            <div class="textwidget"><a href="https://www.facebook.com/ShreeBahubaliLtd"><i
                                        class="fa fa-facebook-square"></i></a>
                                <a href="https://office.innodigital.in/bahubali/"><i
                                        class="fa fa-twitter-square"></i></a>
                                <a href="https://office.innodigital.in/bahubali/"><i
                                        class="fa fa-linkedin"></i></a>
                                <a href="https://office.innodigital.in/bahubali/"><i
                                        class="fa fa-google-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div id="text-5" class="widget widget_text ">
                        <div class="textwidget">
                            <h6>
                                Bahubali refers to Shree Bahubali Stock Broking Limited: CIN-
                                U17125WB1994PLC210459
                                <p></p>
                                Shree Bahubali Stock Broking Limited acts in the capacity of a distributor for
                                Mutual Funds having AMFI Registration Number - 77517. EUIN No.: E027705,
                                E184248.
                                Broking and DP services offered by Shree Bahubali Stock Broking Limited under
                                SEBI Registration No.: INZ000103838 (Member of NSE, BSE and MSEI),
                                IN-DP-NSDL-80-99 (DP with NSDL) and IN- DP-CSDL-632-2011 (DP with CDSL).
                                <p></p>
                                Shree Bahubali Commodity: INZ000094235
                                Shree Bahubali Corporation Limited-RBI registered NBFC-21 83433
                                <p></p>
                                Investor grievance resolution team: (+91) 8069209500. Name of the Compliance
                                Officer for Trading &amp; DP - Amit Jain, Email IDs: compliancebahubali.in .
                                Corporate Office: 12, India Exchange Place, 3rd Floor, Kolkata – 700 001,
                                Telephone No.: (+91) 8069209500

                            </h6>
                            <div class="important-message-wrap">

                                <marquee scrolldelay="80" onmouseover="this.stop();" onmouseout="this.start();">

                                    <p>Filing compliant on SCORES – Easy &amp; quick: a. Register on SCORES
                                        portal. b. Mandatory details for filing complaints on SCORESi. Name,
                                        PAN, Address, Mobile Number, E-mail IDc. Benefits:i. Effective
                                        Communicationii. Speedy redressal of the grievances : You may refer the
                                        website : https://scores.gov.in/scores/Welcome.html :for more
                                        information.</p>
                                    <p>No need to issue cheques by investors while subscribing to IPO. Just
                                        write the bank account number and sign in the application form to
                                        authorize your bank to make payment in case of allotment.</p>
                                    <p>Attention Investors : Prevent Unauthorised transactions in your
                                        trading/demat account. Update your mobile numbers/email IDs with your
                                        stock broker/depository participant.</p>
                                    <p>KYC is one time exercise while dealing in securities markets - once KYC
                                        is done through a SEBI registered intermediary (broker, DP, Mutual Fund
                                        etc.), you need not undergo the same process </p>
                                </marquee>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<div class="mypopup">
    <div class="modal" id="ErrModal">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Message</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="modal-body">

                    <div id="ErrorMessages" class="text-center"></div>
                </div>
            </div>
        </div>


    </div>

</div>

<!--End Popup-->



<div class="mypopup">
    <div class="modal" id="myModal2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="text-center">
                        <h4 class="modal-title">Terms &amp; Conditions</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h5>EKYC TERMS AND CONDITIONS</h5>
                    <ol type="1">
                        <li>The client understands and agrees with the following terms and conditions for
                            opening
                            trading and demat account with SBSBL.</li>
                        <li>Individuals who are citizens of India and resident Indians are permitted to open
                            accounts
                            and avail the services through this process.</li>
                        <li>The Client authorizes SBSBL at his own free will and consent to access his/her
                            data/information/photograph etc from UIDAI for the purpose of opening trading and
                            demat
                            account and will not hold SBSBL and/or its directors/employees/associates/affiliates
                            and/or
                            employees, directors, associates of SBSBLs group entities or affiliates liable in
                            any manner
                            whatsoever in this regard.</li>
                        <li>The Client is required to upload all documents, records etc. which shall be verified
                            with the
                            originals as stipulated in Know Your Client documents in order to open the said
                            accounts.
                            The client agrees to disclose details/documents which are true and correct in all
                            respects.</li>
                        <li>
                            The Client shall be required to affix his own digital signature/e-sign at the
                            relevant pages of
                            account opening form so as to enable SBSBL to open the said accounts. Account will
                            not be
                            opened if the documents are not signed.
                        </li>
                        <li>
                            The Client is required to fill necessary details and make payment via online through
                            his
                            registered Bank Account – Net banking facility.
                        </li>
                        <li>
                            The client agrees that SBSBL shall reject the application if it is found that the
                            client is barred
                            from trading or any investigation from SEBI or any other regulatory authorities is
                            pending
                            against the said client. The decision taken by SBSBL in this regard shall be final
                            and binding
                            upon the client.
                        </li>
                        <li>
                            The client agrees that SBSBL does not guarantee the account opening form submitted
                            by the
                            client shall be duly accepted as SBSBL reserves its right to reject account opening
                            application
                            of the client without assigning any reason.
                        </li>
                        <li>
                            SBSBL would not be liable for any interruption, technical glitch/error or
                            malfunction or delay
                            in the website.
                        </li>
                    </ol>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="display: none">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
